{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-11">
                <div class="pull-right">
                    <a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-lg btn-success" style="font-size: 2em;">Sign in with <i class="icon-github"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
